.infoCard {
  
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.infoCard h3 {
  background-color: var(--azul);
  width: 230px;
  font-size: 20px;
  height: 45px;
  padding: 5px;
  color: var(--fondoBody);
  line-height: 50px;
  z-index: 100;
}

.infoCard img {
  z-index: 1;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  margin-top: -40px;
  border-radius: 7px;
}

.infoCard:hover img{
  opacity: 100;
}
